// customize some Bootstrap variables
$primary: #1482B1;
$secondary: white;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

body {
    background-color: white;
    font-family: 'Sriracha', cursive;
}

.logo {
    border-radius: 100px;
}

.program-box {
    margin-bottom: 30px;
}

.btn-submit {
    width: fit-content;
    margin: auto;
}

.btn-center {
    margin: 10px auto;
    display: block;
}

.title-center {
    text-align: center;
}

.welcome {
    margin: 50px 0;
}

.list-actor {
    margin-top: 20px;
}

.search-form {
    margin: 50px 0;
}

.alert {
    margin: 20px;
}

.alert-success {
    background-color: rgb(167, 255, 5);
}

.alert-danger {
    background-color: rgba(182, 7, 13, 0.3);
}

.watchlist {
    margin: 5px;
    color: #B0413E;
}
