// customize some Bootstrap variables
$primary: #1482B1;
$secondary: white;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
    font-family: 'Sriracha', cursive;
}

.logo {
    border-radius: 100px;
}

.program-box {
    margin-bottom: 30px;
}

.btn-submit {
    width: fit-content;
    margin: auto;
}

.btn-center {
    margin: 10px auto;
    display: block;
}

.title-center {
    text-align: center;
}

.welcome {
    margin: 50px 0;
}

.list-actor {
    margin-top: 20px;
}

.search-form {
    margin: 50px 0;
}
